/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
    display: flex;
    flex-direction: column;
}

/* Estilos do cabeçalho */
header {
    background-color: #333333;
    color: #ffffff;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos da navegação */
nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #ff0000;
}

/* Estilos do conteúdo principal */
main {
    flex: 1;
    padding: 2rem;
}

/* Estilos do rodapé */
footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
}

/* Estilos da seção Home */
.home {
    background: linear-gradient(135deg, #ff0000, #333333);
    padding: 3rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    flex-wrap: wrap; 
}

.home .content {
    max-width: 600px;
    color: #ffffff;
    text-align: left; 
    flex: 1; 
}

.home h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.home .btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #ffffff;
    color: #333333;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.home .btn:hover {
    background-color: #ff0000;
    color: #ffffff;
}

.home .image-container {
    flex-shrink: 0;
}

.home img {
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos da seção Quem Sou Eu */
.quem-sou {
    background-color: #970000;
    color: #ffffff;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quem-sou h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.quem-sou-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap; 
}

.quem-sou .profile-image {
    flex: 1;
    text-align: center;
    margin-bottom: 1.5rem;
}

.quem-sou .profile-image img {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.quem-sou .quem-sou-text {
    flex: 2;
    text-align: left; 
}

.quem-sou p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}

.quem-sou strong {
    color: #ffffff;
}

/* Estilos da seção Contatos */
.contatos {
    background-color: #ffffff;
    color: #333333;
    padding: 3rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contatos h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.contatos p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 2rem;
}

.contatos ul {
    list-style: none;
    padding: 0;
    margin-top: 2rem;
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
}

.contatos ul li {
    margin: 0 15px;
}

.contatos ul li a {
    text-decoration: none;
    color: #333333;
    font-size: 1.2rem;
    padding: 1rem;
    border: 2px solid #333333;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.contatos ul li a:hover {
    background-color: #333333;
    color: #ffffff;
}

/* Estilos da seção Serviços */
.servicos {
    background-color: #333333;
    color: #ffffff;
    padding: 3rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.servicos h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.servicos p {
    font-size: 1.2rem;
    line-height: 1.8;
}

.servicos .servico {
    margin-top: 2rem;
    text-align: left;
}

.servicos .servico h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.servicos .servico-content {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap; 
}

.servicos .servico-image {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center; 
}

.servicos .servico-image img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 8px;
}

.servicos .servico-text {
    flex: 2;
}

.servicos .servico-text p {
    font-size: 1.2rem;
    line-height: 1.8;
}

/* Media Queries */
@media (max-width: 768px) {
    header {
        padding: 0.5rem 0;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .home {
        flex-direction: column;
        text-align: center;
        padding: 2rem;
    }

    .home img {
        margin-top: 2rem;
    }

    .home .content {
        margin-bottom: 2rem;
    }

    .quem-sou,
    .contatos,
    .servicos {
        padding: 2rem;
    }

    .quem-sou-content {
        flex-direction: column;
    }

    .servicos .servico-content {
        flex-direction: column;
        align-items: center; 
    }
}

@media (max-width: 576px) {
    .home h1 {
        font-size: 2.5rem;
    }

    .home p {
        font-size: 1.2rem;
    }

    .home .btn {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

    .home img {
        width: 200px;
    }

    .servicos .servico h2 {
        font-size: 1.5rem;
    }

    .servicos .servico p {
        font-size: 1rem;
    }

    .servicos .servico-image img {
        width: 100%;
        max-width: 200px;
        height: auto;
    }
}
